html,
body,
#root {
  height: 100%;
}

body {
  margin: 0;
  font-family: "Inter", system-ui, -apple-system, "Segoe UI", Arial;
  direction: rtl;
  background: #eef2f6;
  color: #1f2937;

  display: flex;
  justify-content: center;
  align-items: center;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
