
html,
body,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
}

html {
  direction: rtl; 
}

body {
  font-family: "Inter", system-ui, -apple-system, "Segoe UI", Arial, sans-serif;
  background: #eef2f6; 
  color: #1f2937;

 
  display: block;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


#root {
  height: 100%;
}


#root > * {
  height: 100%;
}
